<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}"
>
  <head>
    <title>Transactions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div layout:fragment="content">
      <div class="card">
        <div class="card-header">
          <!--
            <h1 th:text="${'Hello, ' + user?.party?.getName() + '!!'}"></h1>
          -->
        </div>
        <div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div th:replace="fragments/form :: 'deposit-form'"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div th:replace="fragments/form :: 'withdraw-form'"></div>
          </div>
        </div>

        <div class="card-body" th:if="${transactions !=null && user != null}">
          <h4 class="card-title">Transactions</h4>
          <div th:replace="fragments/table :: 'transactions-table'"></div>
        </div>
      </div>
    </div>
  </body>
</html>
